.body {
  padding: var(--space-md);
}

.stablePendingLabel {
  composes: label from '../../../ui/pendingLabel.module.css';
}

.stablePendingSizing {
  composes: sizing from '../../../ui/pendingLabel.module.css';
}
